body.dark {
  background-color: var(--theta);
}
.dark.side-wrapper, .dark.right-side-wrapper{
  background-color: var(--new-black);
  color:var(--gamma);
}
section.dark.about{
  color: var(--gamma);
  font-weight: 300;
}
h1.dark{
  color: var(--gamma);
}
nav-bar.dark{
  color: var(--gamma);
  background: none;
}
nav-bar.dark button, nav-bar.dark a {
  color: var(--gamma);
}
.dark.profile-img > img{
  mix-blend-mode: exclusion;
  filter: sepia(0.7);
}
.date.dark{
  background-color: var(--theta);
}
tag-lab.dark{
  background-color: rgba(151, 151, 215, 0.469);
  font-weight: normal;
  color: black;
}
tag-lab{
  color: black;
  font-weight: 600;
}
.animated.dark{
  color: white;
}
@media screen and (max-width: 969px) {
  .dark.side-wrapper{
    background-color: #04051dec;
  }
}
.drop-shadow.dark{
  filter: drop-shadow(0 0 1em black);
}