
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  padding: 0;
  margin: 0;
}
:root{
  --alfa: #30333c;
  --beta: #1f2143;
  --gamma: #e6e0d1;
  --delta: #eed9b6;
  --epsilon: #c7cae6;
  --theta: #22244a;
  --new-black:#04051d;
}
/** GENERAL */
html,
body {
  font-family: Montserrat, Poppins, sans-serif;
  transition: background-color 0.5s ease-in-out;
}

body {
  background-color: var(--gamma);
  touch-action: pan-x pan-y;
}
section{
  padding: 2rem calc(100vw/32);
  transition: background-color 0.5s ease-in-out;
}
section.about{
  padding: 2rem calc(100vw/32);
  transition: background-color 0.5s ease-in-out;
}


h2{
  font-weight: 900;
  font-size: 2.7rem;
  letter-spacing: 0.5vw;
  text-align: center;
}
/**  CANVAS */
section.about.introduction{
  margin: 8rem 0rem;
}
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/** PAGE */
.page{
  width: 100%;
  z-index: 99;
  position: absolute;
}
translate-text{
  display: inline-block;
}
nav-bar{
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: #ffffff00;
  background: linear-gradient(90deg, #ffffff00 69%, #e2dbc9 100%);
}
a, button{
  transition: all 0.2s ease-in-out;
}
a:hover, .lang-selection:hover{
  background-color: #0000000e;
  border-radius: 5em;
}
#lang-text{
  padding: 0.5rem;
}
#lang-toggle{
  font-size: 1rem;
}
#lang-icon{
  transition: transform 0.2s ease-in-out;
}
.lang-selection{
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.download-cv{
  color: var(--alfa);
  text-decoration: none;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}
.clickable{
  cursor: pointer;
}
.nav-bar-wrapper{
  justify-content: flex-end;
}
button{
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none;
  color: var(--alfa);
}
.toggle{
  display: flex;
  align-items: center;
  width: 3.5rem;
  height: 1.6rem;
  background-color: var(--alfa);
  border-radius: 4rem;
  position: relative;
  transition: all 0.1s ease-in-out;
}
.circle{
  position: absolute;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  background-color: #fdd891;
  margin: 0.1rem;
  transition: all 0.1s ease-out;
}
.hero-main-title{
  margin-top: 60vh;
  width: 100%;
}
.hero-section{

}
.subtitle{
  font-weight: 300;
}
h1{
  font-size: 3.5vw;
  font-weight: 900;
  color: var(--alfa);
  z-index: 100;
}
h1>p{
  font-size: 2vw;
}
h3{
  font-weight: 700
}
.animated {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  transition: all 0.1s ease-in;
}
section.about{
  font-size: 1.3rem;
  color: var(--alfa);
  width: 100%;
  margin: 3rem auto 3rem 0em;
}
.side-wrapper{
  background-color: #efeadd;
  width: calc(100vw - 100vw/1.618);
  overflow: hidden;
  transition: background-color 0.2s ease-out;
  border-radius: 7rem 7rem 7rem 7rem;
  margin-left: 1.618rem;
  margin-top: 5rem;
}

.about-wrapper{
  display: flex;
  align-items: center;
}
.profile-img{
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.eye{
  border-radius: 100%;
  position: absolute;
  background-color: white;
  width: 1em;
  height: 1.2em;
  transform: rotate(-25deg);
}
.eye1{
  left: 49%;
  top: 26%;
}
.eye2{
  top: 29%;
  left: 34%;
}
.pupil-container{
  width: 100%;
  height: 100%;
  position: relative;
}
.pupil{
  position: absolute;
  background-color: #04051d;
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
}
.pupil-light{
  top: 10%;
  left: 10%;
  position: absolute;
  background-color: white;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
}
.profile-img > img{
  border-radius: 100%;
  width: 100%;
  height: 100%;
  max-width: 200px;
  mix-blend-mode:multiply;
  filter: sepia(0.7);
}

.icon-img{
  width: 1rem;
  height: 1rem;
}
.block{
  margin-top: 2rem; 
  margin-bottom: 2rem;
  z-index: 3;
  align-items: center;
}

.date{
  padding: 0.25rem;
  border-radius: 1rem;
  background-color: var(--epsilon);
  margin-right: 1rem;
}
tag-lab{
  padding: 0.1rem;
  border-radius: 1rem;
  padding: 0 0.25rem;
  background-color: var(--delta);
}
.block{
  flex-direction: row-reverse;
}
.first-experience, .second-experience, .first-education, .second-education{
  position: relative;
  font-weight: 600;
}
.about.first-education, .about.second-education{
  margin-right: 0;
  margin-left:auto;
}
.logo-container{
  width: 5vw;
  height:  5vw;
  flex-shrink: 0;
  margin: 2rem;
}
.logo-container > img{
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 4;
  border-radius: 100%;
  filter: sepia(0.5);

}
.conjunction{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,0);
  bottom: 0;
}
.little-title{
  font-weight: 700;
}
.circle-point{
  background-color: #d8d2c549;
  width: 1.618rem;
  height: 1.618rem;
  border-radius: 100%;
}
.line{
  background-color: #d7d2c44d;
  width: calc(1rem/1.618);
}
#success, #fail {
  display: none;
  justify-content: center;
  align-items: center;
}
.separator{
  height: 75vh;
}
.skill{
  display: flex;
  padding: 4em 0px;
  margin: 2em 0em;
}

.skill p{
  font-size: larger;
}
.skill-icon{
  width: 5vw ;
  height: auto;
  height: auto;
  margin: 2em 2em;
  border-radius: 100%;
}
.skill h4{
  font-weight: 700;
}
footer{
  background-color: var(--gamma);
  padding: 2rem;
  margin-top: 10vh;
}
footer.dark{
  background-color: var(--new-black);
  color: var(--epsilon);
}
footer > p{
  padding: 3rem;
  max-width: 500px;
  margin: auto;
}
footer > .d-flex{
  align-items: flex-start;
}

/**FORM */
input, textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 3rem;
  margin: 0;
  display: block;
  border: none;
  margin: 1rem 0em;
  transition: transform 0.1s ease-in-out;
  background-color: #f4f4ec;
}
input.dark, textarea.dark{
  background-color: var(--theta);
  color: white;
}
[for="captcha"]{
  font-size: 1.2rem;
}
[type="checkbox"]{
  display: inline-block; 
  width: auto;
  font-size: 2rem;
  transform: scale(1.2);
}
input:focus, textarea:focus{
  transform: scale(1.02);
  outline: 5px solid var(--delta);
}
input.dark:focus, textarea.dark:focus{
  outline: 5px solid var(--alfa);
}
[type=submit]{
  background-color: var(--delta);
  padding: 1rem 5rem;
  margin: auto;
  border-radius: 5rem;
  font-weight: bold;
}
[disabled]{
  opacity: 0.5;
}
input.dark:-webkit-autofill,

input.dark:-webkit-autofill:hover, 
input.dark:-webkit-autofill:focus,
textarea.dark:-webkit-autofill,
textarea.dark:-webkit-autofill:hover,
textarea.dark:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1d1d37 inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #f4f4ec inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d5b272;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--beta); 
}


/** ANIMATIONS */
.animated.move {
  bottom: 20px;
}
.night{
  right: 100%;
  transform: translateX(+1.6rem);
  background-color: #22244a;
}
.rotation {
  transform: rotate(360deg);
}
.toggle:hover{
  transform: scale(1.1);
}
.toggle:active{
  transform: scale(1.2);
}



/** MEDIA QUERIES */
@media screen and (max-width: 900px) {
  section{
    padding: 2rem;
  }
  section.about{
    width: auto;
    margin: 1rem;
  }
  h1{
    font-size: 5vh;
  }
  h2{
    font-weight: 900;
    font-size: 2.7rem;
    letter-spacing: 0.5vw;
    text-align: center;
  }
  h1>p{
    font-size: 1.9vh;
  }
  .about-wrapper{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .profile-img{
    margin: 2rem;
  }
  .nav-bar-wrapper{
    justify-content: space-between;
  }
  nav-bar{
    padding: 0;
  }
  nav-bar.dark{
    background-color: var(--beta);
    background: none;
  }
  .profile-img{
    width: 50%;
    height: auto;
  }
  .hero-main-title{
    margin-top: 65vh;
  }
  .about.first-education, .about.second-education{
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .side-wrapper{
    width: calc(100% - 3.2rem);
    margin: 1.6rem 1.6rem;
  }
  [type="checkbox"]{
    font-size: 1rem;
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .side-wrapper{
    width: calc(100% - 1rem);
    margin: 0.5rem;
  }
  html{
    font-size: 10px;
  }
  .side-wrapper{
    border-radius: 3rem 3rem 3rem 3rem;
  }
}

@media screen and (min-width: 1301px) and (max-width:1920px) {
  html{
    font-size: 80%;
  }
  /* .logo-container{
    display: none;
  } */
}
@media screen and (min-width: 900px) and (max-width:1300px) {
  .logo-container{
    display: none;
  }
  html{
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .logo-container{
    display: none;
  }
}
/* @media screen and (min-width: 400px) {
  .logo-container{
    display: none;
  }
} */
@media print {
  .side-wrapper{
    width: 100%;
  }
}
@media screen and (max-width: 969px) {
  .side-wrapper{
    background-color: #efeaddec;
  }
}
