.c{
    background-color: #649bd3;
}
.cpp{
    background-color: #4e6bb3;
}
.javascript{
    background-color: #eee049;
}
.htmlColor{
    background-color: #e54c26;
}
.php{
    background-color: #767ab3;
}
.laravel{
    background-color: #ff291a;
}
.scss{
    background-color: #ce679a;
}
.typescript{
    background-color: #2d79c7;
}   
.java{
    background-color: #ea8383;
}
.assembly{
    background-color: #8dee7c;
}
.sql{
    background-color: #db7533;
}